/* Main Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import './base.css';
@import './components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .h-dvh {
        height: 100vh;
        height: 100dvh;
    }
}
